div.list-panel {
    @include add-shadow(1);
    background: white;
    overflow: auto;
    min-height: 85vh;
    border-bottom-left-radius: .7 *$border-radius;
    border-bottom-right-radius: .7 *$border-radius;
    padding: 5px 5px 0 5px;
    & > table {
        border-collapse: collapse;
        overflow: hidden;
        border-spacing: 0;
        width: 100%;
        font-weight: bold;
        /**
         * Table cells style.
         */
        & th, td {
            padding: 10px 0px 10px 10px;
            text-align: left;
            &:hover { cursor: pointer }
        }
        & th {
            width: 25%;
            border-bottom: 2px solid whitesmoke;
            color: grey;
            &.active {
                border-color: $primary-color-dark;
                color: $primary-color-dark;
            }
        }
        /**
         * Adds a gap after the table header.
         */
        & > thead:after { content: "-"; color: transparent; }
        /**
         * List items style.
         */
        & > tbody.list-panel-item {
            cursor: pointer;
            & > tr.quick-info {
                & > td.title-td { width: 25% }
                & > td.type-td { width: 25% }
                & > td.destination-td { width: 25% }
                & > td.reminder-td > { width: 25% }
            }
            /**
             * Style for item's quick info.
             */
            // Quick info options position
            & > tr.quick-info > td.options { position: absolute; left: -30vw; @include add-transition(left, .25s) }
            &:hover > tr.quick-info > td.options { left: 0; }
            // Collapsed (inactive) item colors
            &.favorite > tr.quick-info { color: $primary-color-dark }
            & > tr.quick-info { color: $info-color; }
            &.completed > tr.quick-info { text-decoration: line-through; color: grey; }
            &:hover > tr.quick-info { background-color: whitesmoke;  }
            // Options Color
            & > tr.quick-info > td.options {
                @include add-shadow(.5);
                padding-left: 15px;
                background-color: $primary-color;
                color: $primary-color-dark;
                letter-spacing: 15px;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                & > *:hover { cursor: pointer; color: white; } // The active and completed white color are on inline style on the corresponding elements
            }
            // Opened (active) item colors
            &.active {
                &:after { content: "-"; color: transparent; }
                &.favorite > tr.quick-info { border-color: $primary-color-dark }
                &  > tr.quick-info { border-left: 3px solid $info-color; background-color: white; }
                &.completed > tr.quick-info { border-color: grey }
            }
            /**
             * Style for item's description
             */
            & > tr.description {
                display: none;
                & > * { text-align: justify }
                border-left: 3px solid $info-color;
            }
            &.active {
                &.favorite  > tr.description { border-color: $primary-color-dark }
                & > tr.description { display: table-row }
                &.completed  > tr.description { border-color: grey }
            }
        }
    }
}