div#editor-window {
    position: fixed;
    background-color: white;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    /**
     * Common style of the two panels that make up the editor.
     */

    & > div.tabs-panel {
        position: absolute;
        left: .5 * $xspacing;
        right: .5 * $xspacing;
        height: $yspacing;
    }

    & > div.add-panel {
        position: absolute;
        left: $xspacing;
        right: $xspacing;
        bottom: 0;
    }
    & > div.list-panel { 
        position: absolute;
        top: $yspacing; 
        max-height: 80%;
        left: .5 * $xspacing;
        right: .5 * $xspacing;
    }
}

@import './partials/_tabs.scss';
@import './partials/_add-panel.scss';
@import './partials/_filter.scss';
@import './partials/_list-panel.scss';

