div#editor-window {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;

    /**
     * Common style of the two panels that make up the editor.
     */
    & > div.list-panel, div.add-panel {
        position: absolute;
        left: $xspacing;
        right: $xspacing;
        background: white;
    }
    & > div.list-panel { top: $yspacing; max-height: 80%; }
    & > div.add-panel { bottom: 0 }

    /**
     * Particular style for the list panel.
     */
    & > div.list-panel {
        overflow: auto;
        & > table {
            border-collapse: collapse;
            overflow: hidden;
            border-spacing: 0;
            width: 100%;
            font-weight: bold;

            /**
             * Table cells style.
             */
            & th, td {
                padding: 10px 0px 10px 10px;
                text-align: left;
                &:hover { cursor: pointer }
            }
            & th.active, th:hover {
                border-bottom: 2px solid $primary-color-dark;
                color: $primary-color-dark;
            }

            /**
             * Adds a gap after the table header.
             */
            & > thead:after { content: "-"; color: transparent; }

            /**
             * List items style.
             */
            & > tbody.list-panel-item {
                cursor: pointer;
                /**
                 * Style for item's quick info.
                 */
                // Quick info options position
                & > tr.quick-info > td.options { display: none; position: absolute; right: 0; }
                &:hover > tr.quick-info > td.options { display: block; }
                // Collapsed (inactive) item colors
                &.favorite > tr.quick-info { color: $primary-color-dark }
                & > tr.quick-info { color: $info-color; }
                &.completed > tr.quick-info { text-decoration: line-through; color: grey; }
                &:hover > tr.quick-info { background-color: whitesmoke }
                // Options td
                & > tr.quick-info > td.options {
                    @include add-shadow(.5);
                    padding-left: 15px;
                    background-color: $primary-color;
                    color: $primary-color-dark;
                    letter-spacing: 15px;
                    & > *:hover { cursor: pointer; color: white; } // The active and completed white color are on inline style on the corresponding elements
                }
                // Opened (active) item colors
                &.active {
                    &:after { content: "-"; color: transparent; }
                    &.favorite > tr.quick-info { border-color: $primary-color-dark }
                    &  > tr.quick-info { border-left: 3px solid $info-color; background-color: white; }
                    &.completed > tr.quick-info { border-color: grey }
                }
                /**
                 * Style for item's description
                 */
                & > tr.description {
                    display: none;
                    text-align: justify;
                    border-left: 3px solid $info-color;
                }
                &.active {
                    &.favorite  > tr.description { border-color: $primary-color-dark }
                    & > tr.description { display: table-row }
                    &.completed  > tr.description { border-color: grey }
                }
            }
        }
    }

    /**
     * Particular style for the add panel.
     */
    & > div.add-panel {
        @include add-shadow(.5, true);
        border-top-right-radius: $border-radius;
        padding-left: 20px;
        padding-right: 20px;

        & > form {
            @include add-transition(max-height, 1s);
            max-height: 0;
            overflow: hidden;
            & input, textarea { 
                @extend %material-input;
            }
            & textarea { resize: vertical; min-height: 30px; max-height: 20vh; }
            &.active { max-height: 70vh }
        }

        & > button.toggle-button {
            @extend %primary-button;
            @include add-shadow(.5, true);
            &:hover{
                @include add-shadow(.5, true);
            }
            &.active { 
                @extend %danger-button;
                @include add-shadow(.5, true);
                &:hover{
                    @include add-shadow(.5, true);
                }
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            position: absolute;
            top: -30px;
            left: -1px;
            width: 20%;
            height: 30px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}